.footer {
    background-color: rgb(46, 45, 45);
    max-height: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 0 40px;
}

.footer__content {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    gap: 20px;
}

.footer__information {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__small {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__text {
    color: #F4F1ED;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.footer__text-copyright {
    margin-top: auto;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
}

.footer__contacts-title {
    color: #F4F1ED;
    font-size: 18px;
    line-height: 1.15;
    font-weight: bold;
}

.footer__contacts-text {
    color: #F4F1ED;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.footer__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 80px 0 40px;
    }
    .footer__content {
        justify-content: space-between;
    }
    .footer__information {
        max-width: 240px;
    }
    .footer__contacts {
        max-width: 240px;
        width: 100%;
    }
    .footer__contacts-text {
       font-size: 14px;
    }
    .footer__text-copyright {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 555px) {
    .footer {
        padding: 40px 0 40px;
        min-height: 480px;
    }
    .footer__content {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .footer__information {
        display: flex;
        max-width: 555px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }
    .footer__small{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .footer__text {
        max-width: 220px;
        text-align: center;
    }
    .footer__text-copyright {
        margin: 30px 0 10px;
    }
}

@media screen and (max-width: 380px) {
    .footer__text {
        font-size: 12px;
        max-width: 140px;
    } 
    .footer__contacts-title {
        font-size: 16px;
        text-align: c;
    }
    .footer__contacts-text {
        font-size: 12px;
    }
}