.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    gap: 20px;
}

.nav__items {
    display: flex;
    gap: 20px;
}

.nav__items-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #F4F1ED;
    font-size: 18px;
    line-height: 1.15;
    font-weight: bold;
    height: 100%;
}

.nav__item {
    list-style-type: none;
}

.nav__item-link {
    text-decoration: none;
    color: #F4F1ED;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

.nav__item-link:hover {
    color: #D4A524;
    border-bottom: #D4A524 2px solid;
}

@media screen and (max-width: 768px) {
    .nav {
        max-width: 768px;
        margin: 0 10px 120px;        
    }
    .nav__item-link {
        font-size: 14px;
        white-space: nowrap;
    }
}