.social {
    display: flex;
    gap: 20px;
}

.social__item {
    display: flex;
    text-decoration: none;
    color: #F4F1ED;    
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

.social__item-icon {
    width: 24px;
    height: 24px;
}

.social__item-icon-footer {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.social__item-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .social__item-icon {
        width: 20px;
        height: 20px;
    }
}